
.itinerary {

    background-image: url("../assets/images/TravelSite-Package/Assets/Images/hawaii.jpg");
    background-size: cover;
    background-position: center;
}

.itinerary__card {
    margin-top: 0;

    font-size: 5rem;
    color: white;
}

.card_component--itinerary{
    width: 300px;
    height: 400px;
    margin-bottom: 7rem;
    border-radius: 5px;

    background-color: white;
    background-size: cover;

}

.card_component--friday {
    text-align: center;
    border-bottom: 2px solid black;

    margin-left: 20px;
    margin-right: 20px;


    color: black;
}


.card_component--saturday {
    text-align: center;
    border-bottom: solid black 2px;

    margin-left: 20px;
    margin-right: 20px;

    color: black;
}


.card_component--sunday {
    text-align: center;
    border-bottom: solid black 2px;

    margin-left: 20px;
    margin-right: 20px;

    color: black;
}




.card_component--content {
    position: relative;
    right: 20px;
    text-align: center;

    list-style: none;

    background-color: #FEFAF5;
    margin: 30px 5px;
    padding: 15px 60px;
}