
.itinerary__background {

    background-image: url("../assets/images/TravelSite-Package/Assets/Images/hawaii.jpg");
    background-size: cover;
    background-position: center;
}

.itinerary__background--greece {
    background-image: url("../assets/images/TravelSite-Package/Assets/Images/greece.jpg");
}

.itinerary__background--iceland {
    background-image: url("../assets/images/TravelSite-Package/Assets/Images/iceland.jpg");
}

.itinerary__title {
    margin-top: 0;
    position: relative;
    top: 35px;
    left: 100px;

    font-size: 5rem;
    color: white;
}

.itinerary_card{
    width: 300px;
    height: 400px;
    margin-bottom: 7rem;
    border-radius: 5px;

    background-color: white;
    background-size: cover;

}

.itinerary__card--friday {
    text-align: center;
    border-bottom: 2px solid black;

    margin-left: 20px;
    margin-right: 20px;


    color: black;
}


.itinerary__card--saturday {
    text-align: center;
    border-bottom: solid black 2px;

    margin-left: 20px;
    margin-right: 20px;

    color: black;
}


.itinerary__card--sunday {
    text-align: center;
    border-bottom: solid black 2px;

    margin-left: 20px;
    margin-right: 20px;

    color: black;
}




.itinerary__card--content {
    position: relative;
    right: 20px;
    text-align: center;

    list-style: none;

    background-color: #FEFAF5;
    margin: 30px 5px;
    padding: 15px 60px;
}