body {
    font-family: Verdana;
}

header {
    width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

h1 {
    width: 400px;
    position: absolute;
    top: 9rem;
    
    font-size: 2rem;
    color: #335576;

}

h3 {
    color: #335576;
}



button {
    position: relative;
    bottom: 20rem;
    left: 15rem;
    padding: 10px 40px;

    border: 0;
    border-radius: 15px;

    background-color: #DB7A4E;
    color: white; 
}

footer {
    background-color: #FEFAF5;

}

footer h3 {

}

footer ul {
    list-style: none;
}

footer img {
    width: 19px;
    height: 21px;
    
    position: relative;
    right: 4rem;
    margin: 0.75rem;
}

.nav__links {
    position: relative;
    right: 8rem;
    list-style: none;
    color: black;
}

.nav__links li {
    display: inline-block;
    color: black;
    
}

.hero {
    width: 775px;
    height: 300px;

    position: relative;

    text-align: left;
    background-color: #FEFAF5;
}

.hero__text {
    width: 300px;
    height: 300px;

    position: absolute;
}
.hero img {
    width: 382px;
    height: 340px;

    position: absolute;
    top: 75px;
    left: 360px;
}


.recommendation_card{
    width: 300px;
    height: 450px;
    margin-bottom: 2rem;
    border-radius: 15px;

    background-color: orange;
    background-size: cover;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.recommendation_card--hawaii {
    background-image: url("../assets/images/TravelSite-Package/Assets/Images/hawaii.jpg");
}

.recommendation_card--greece {
    background-image: url("../assets/images/TravelSite-Package/Assets/Images/greece.jpg");
}

.recommendation_card--iceland {
    background-image: url("../assets/images/TravelSite-Package/Assets/Images/iceland.jpg");
}

.hours {
    display: inline-block;
    margin: 0 20px;

    list-style: none;
}
 