body {
    font-family: Verdana;
}

header {
    width: 1270px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
}

header h3{
    position: relative;
    left: 75px;

}

h1 {
    width: 500px;

    position: absolute;
    top: 6rem;
    left: 40px;
    
    font-size: 2.5rem;
    color: #335576;

}

h3 {
    color: #335576;
}



button {
    width: 175px;
    height: 40px;

    position: absolute;
    top: 20rem;
    left: 2.5rem;

    border: 0;
    border-radius: 25px;

    background-color: #DB7A4E;
    color: white; 
}

footer {
    background-color: #FEFAF5;

}

footer h3 {

}

footer ul {
    list-style: none;
}

footer img {
    width: 19px;
    height: 21px;
    
    position: relative;
    right: 4rem;
    margin: 0.75rem;
}

.nav__links {
    position: relative;
    right: 8rem;
    list-style: none;
    color: black;
}

.nav__links li {
    display: inline-block;
    color: black;
    
}

.hero {
    width: 1270px;
    height: 500px;

    position: relative;

    text-align: left;
    background-color: #FEFAF5;
}

.hero__text {
    width: 300px;
    height: 300px;

    position: absolute;
}

.hero__text p {
    width: 600px;

    position: absolute;
    top: 15rem;
    left: 40px;   

    color: #335576;
    font-weight: 200;
}

.hero img {
    width: 475px;
    height: 400px;

    position: absolute;
    top: 15px;
    left: 700px;
}


.recommendation_card{
    width: 300px;
    height: 450px;
    margin-bottom: 2rem;
    border-radius: 15px;

    background-color: orange;
    background-size: cover;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.recommendation_card--hawaii {
    background-image: url("../assets/images/TravelSite-Package/Assets/Images/hawaii.jpg");
}

.recommendation_card--greece {
    background-image: url("../assets/images/TravelSite-Package/Assets/Images/greece.jpg");
}

.recommendation_card--iceland {
    background-image: url("../assets/images/TravelSite-Package/Assets/Images/iceland.jpg");
}

.hours {
    display: inline-block;
    margin: 0 20px;

    list-style: none;
}
 