body {
    font-family: Verdana;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

h3 {
    color: #335576;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFAF5;
}
.nav__links {
    list-style: none;
    color: black;
}

.nav__links li {
    display: inline-block;
    
}

.hero {
    background-color: #FEFAF5;
}

.recommendation {
    width: 20rem;
    margin: auto;

    display: flex;
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 4px, 4px, 0.2);
}

.recommendation__image {
    width: 100%;
}

.hours {
    display: inline-block;
}